.register_background {
  background: url("./assets/Registe_Page_Bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.cover-bg {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgba(23, 232, 90, 0.4),
    rgba(179, 76, 76, 0.4)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
}
.Form_container {
  background-color: white;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 15px;
  z-index: 2;
}
